$main-color00: #e6e6fa;
$main-color01: #cf2d71;
$main-color02: #c8a2c8;
$main-color03: #5cacce;
$main-color04: #00334f;
$main-color05: #9bbea9;

$main-color: (#cf2d71, #5cacce, #00334f, #c8a2c8);
$h1: 48px;
$h2: 36px;
$h3: 24px;
$h4: 20px;

// 파일 제목에 언더바 붙으면 compile 하지 않는다.
