@import "vars";
@import "mixins";

body {
  font-family: "Roboto", "Noto Sans KR", "돋움";
  color: #111;
  font-size: 18px;
  background-color: $main-color00;
  // min-height: 3000px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

button {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.background {
  background: linear-gradient(
    90deg,
    rgba(0, 51, 79, 1) 0%,
    rgba(207, 45, 113, 1) 18%,
    rgba(92, 172, 206, 1) 33%,
    rgba(200, 162, 200, 1) 44%,
    rgba(230, 230, 250, 1) 50%,
    rgba(51, 51, 51, 1) 50%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  .container {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    > a:hover {
      + .circle-txt {
        opacity: 1;
      }
    }
    .box-content {
      width: 200px;
      height: 200px;
      padding: 10px;
      box-sizing: border-box;
      border: 10px solid #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        line-height: 1.25;
        opacity: 0.5;
      }
      h3 {
        font-size: 28px;
        font-weight: 500;
        text-align: center;
      }
      &.grey-box {
        background-color: #333;
        color: #fff;
      }
      &.color-box {
        background: linear-gradient(
          90deg,
          rgba(207, 45, 113, 1) 0%,
          rgba(92, 172, 206, 1) 100%
        );
        color: #222;
        p {
          font-weight: 500;
        }
      }
    }
    .date {
      background-color: #fff;
      width: 200px;
      box-sizing: border-box;
      text-align: center;
      padding: 5px 0 10px;
      h2 {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 5px;
      }
      p {
        font-size: 15px;
        font-weight: 700;
        opacity: 0.5;
      }
    }
  }
}
.circle-txt {
  position: absolute;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #333;
  top: -40%;
  animation: circle 15s linear infinite;
  opacity: 0;
  &.circle02 {
    color: $main-color02;
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#header {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0 #000;
  &.on {
    background-color: #bebee7;
  }
  .container {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      position: relative;
      @include flex;
      &:before {
        content: "";
        width: 80px;
        height: 80px;
        position: absolute;
        border: 1px solid#fff;
        z-index: 0;
      }
      a {
        width: 70px;
        height: 70px;
        @include flex;
        border: 2px solid#fff;
        position: relative;
        z-index: 2;
      }
    }
    .gnb-box {
      display: flex;
    }
  }
  #gnb {
    ul {
      height: 100px;
      display: flex;
      align-items: center;
      li {
        &:hover {
          @for $i from 1 through 5 {
            .part0#{$i}:before {
              opacity: 0;
            }
            .depth01:after {
              position: absolute;
              width: 160px;
              left: 50%;
              transform: translate(-50%);
            }
            .part01:after {
              content: "자기소개";
            }
            .part02:after {
              content: "학력 및 역량";
            }
            .part03:after {
              content: "이전경력";
            }
            .part04:after {
              content: "포부";
            }
            .part05:after {
              content: "포트폴리오";
            }
          }
        }
        .depth01 {
          display: block;
          text-align: center;
          width: 160px;
          font-size: 24px;
          font-weight: 700;
          text-transform: uppercase;
          position: relative;
        }
      }
    }
    .part01:before {
      content: "i am";
    }
    .part02:before {
      content: "skilful";
    }
    .part03:before {
      content: "full-time";
    }
    .part04:before {
      content: "jumping";
    }
    .part05:before {
      content: "Treasure";
    }
  }
  .util {
    ul {
      height: 100px;
      display: flex;
      align-items: center;
      li {
        a {
          display: block;
          padding-left: 25px;
        }
      }
    }
  }
}
